<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link
            href="https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic"
            rel="stylesheet"
        />
        <script>
            const ROOM_ID = "<%= roomId %>";
        </script>
        <title>Socket.io simple chat</title>
        <style>
            body {
                font-family: "Lato", sans-serif;
            }
            #video-grid {
                display: grid;
                grid: 250px / auto auto auto;
                /* grid-template-columns: repeat(auto-fill, 300px); */
                grid-auto-rows: 300px;
            }
            p {
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
            video {
                /* width: 100%;
                height: 100%; */
                width: 96%;
                height: 96%;
                object-fit: cover;
                padding: 2%;
            }
            .MainContainer {
                display: flex;
                justify-content: space-between;
                height: 98vh;
            }
            .userStatus-mainContainer {
                width: 20%;
                /* padding: 10px; */
                align-content: center;
                background: #020e25;;
                border-radius: 5px;
                border: 2px solid #f2f2f2;
                height: 100vh;
            }
            .incoming .userinitial{
              border-radius: 50%;
              width: 20px;
              padding: 10px;
              color: white;
              /* background-color: #46ae83; */
              background-color: #202c33;
              margin-top: -4px;
              display: flex;
              justify-content: center;
              align-items: center;

            }
            .outgoing .userinitial{
              border-radius: 50%;
              width: 20px;
              padding: 10px;
              color: white;
              /* background-color: #46ae83; */
              background-color: #005c4b;
              margin-top: -4px;
              display: flex;
              justify-content: center;
              align-items: center;

            }
            .userinitial h6{
              margin: 0 !important;
              /* padding-top: 10px;
              padding-right: 20px; */
            }
            .userVideo-mainContainer {
                width: 50%;
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
                border-radius: 5px;
            }
            .users-window {
                padding: 0%;
                background: #181438;
                /* height: 10%; */
                position: fixed;
                width: 20%;
            }
            .users-head {
                /* padding: 3%; */
                height: 100%;
                display: flex;
                justify-content: center;
            }
            h3 {
                color: white;
                /* padding-left: 2%; */
                font-size: 25px;
            }
            .user-list {
              padding-left: 8%;
              padding-top: 100px;
              font-size: 18px;
              width: 79%;
                
            }
            .user-list div{
              justify-content: space-between;
                display: flex;
                margin-left: 9px;
            }
            .user-list span{
              height: 14px;
              width: 15px;
              margin-top: 5px;
              margin-left: 5px;
              border-radius: 50%;
              left: 21px;
            }
            .user-list p{
              margin-top: 2px;
                color: white;   
           }
            .chats{
              /* display: flex;
              flex-direction: row-reverse;
              align-items: baseline; */
            }
            .chat-window {
                width: 25%;
                display: flex;
                flex-direction: column;
                border-radius: 6px;
                overflow: hidden;
                /* border: 2px solid #abd1ed; */
                height: 100vh;
            }
            .chat-head {
                padding: 0%;
                background: #181438;
                height: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .user-input {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 100%;
                background: #020e25;;
                /* background: white; */
            }
            .chat-input {
                display: flex;
                align-items: center;
                align-items: center;
                background: transparent;
                padding-top: 3%;
                padding: 12px 0;
            }
            .chat-input input {
                background: #c3c3c3;
                border-radius: 30px;
                outline: none;
                border: none;
                position: relative;
                padding: 15px;
                margin: 0 15px;
            }

            #user-msg {
                width: 100%;
                /* height: 5vh; */
                /* margin-right: 0.2cm; */
            }
            #user-send {
                padding: 10px 15px;
                border: none;
                border-radius: 30px;
                background: #181438;
                color: #fff;
                position: absolute;
                right: 20px;
            }
            .message {
                color: rgb(255, 255, 255);
                /* background-color: white; */
                /* max-width: 200px; */
                max-height: auto;
                padding: 9px;
                margin-bottom: 15px;
                border-radius: 10px 50px 50px 10px;
                position: relative;
            }
            .message h5 {
                margin: 0%;
            }
            .message p {
              word-wrap: break-word;
              height: auto;
              margin: 0;
              text-align: left;
              margin-bottom: 5px;
              /* margin-right: 13px; */
              /* padding: 0px !important; */
              /* margin-top: 0px !important; */
              /* margin-bottom: 2px; */
            }
            .outgoing span, .incoming span{
              font-size: 9px;
              color: #cfcccc;
              /* margin-right: 3px;
              margin-bottom: 3px; */
            }
            
            
            .outgoing {
              display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 70%;
    align-items: center;
    float: right;
    padding: 10px 10px;
    gap: 10px;

            }
          .outgoing  .message_chat{
                display: flex;
                flex-direction: column;
                color: rgb(252, 252, 252);
                border-top-right-radius: 0px;
                background-color: #005c4b;
                border-radius: 10px;
                padding: 10px 20px;
                text-align: right;
                width: 100%;
    max-width: 80%;
            }
            .incoming .message_chat{
              display: flex;
                flex-direction: column;
                color: rgb(252, 252, 252);
                border-top-left-radius: 0px;
                background-color: #202c33;

                border-radius: 10px;
                padding: 10px 20px;
                text-align: left;
                width: 100%;
    max-width: 80%;
            }
            .outgoing h5 {
                position: absolute;
                top: -12px;
                right: 65px;
                text-transform: capitalize;
            }
            
            div.message.incoming {
                /* margin-right: auto; */
                color: rgb(255, 255, 255);
                /* padding-left: 20px; */
                /* border-radius: 30px; */

                /* text-align: left; */
                display: flex; flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    max-width: 70%;
    align-items: center;
    float: left;
    padding: 10px 10px;
    gap: 10px;
            }
            .incoming h5 {
                position: absolute;
                top: -12px;
                left: 55px;
                text-transform: capitalize;
            }

            body {
                background: linear-gradient(
                    180deg,
                    #f3f1f2 0%,
                    #f3efee 13.02%,
                    #f4eae9 40.1%,
                    #f1e5e7 61.98%,
                    #dedcea 82.81%,
                    #abd1ed 100%
                );
                display: block;
                margin: 0px;
                height: 100vh;
                overflow: hidden;
            }
        </style>
        <link href="/favicon.ico" type="image/x-icon" rel="icon" />
    </head>
    <body>
        <div>
            <div></div>
            <div class="container container-main MainContainer">
                <div class="userStatus-mainContainer">
                    <div class="users-window">
                        <div class="users-head">
                            <h3>Peoples</h3>
                        </div>
                    </div>
                    <div class="user-list" style="margin-bottom: 30px"></div>
                </div>

                <div class="userVideo-mainContainer">
                    <div id="video-grid"></div>
                    <p id="userStatus"></p>
                </div>

                <div class="chat-window">
                    <div class="chat-head">
                        <h3>Messages</h3>
                    </div>
                    <div class="user-input">
                        <div class="chats"></div>

                        <div class="chat-input">
                            <input
                                id="user-msg"
                                type="text"
                                placeholder="Type your message...."
                            />
                            <button type="button" id="user-send">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var uwindow = document.querySelector(".users-window");
            console.log(uwindow);
            function show_hide() {
                if ((uwindow.style.display = "block")) {
                    uwindow.style.display = "none";
                } else {
                    uwindow.style.display = "block";
                }
            }
        </script>
        <script
            defer
            src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"
        ></script>

        <script src="http://localhost:3004/socket.io/socket.io.js"></script>
        <script src="main.js" defer></script>
    </body>
</html>
